* {
    box-sizing: border-box;
    list-style-type: none;
}

.body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background: #f2d0ab
}

.header {
    display: flex;
    align-items: center;
    max-width: 90%;
}

.header__images {
    width: 20%;
    height: 20%;
    margin: 1.2em 10em;
    border-radius: 50%;
    overflow: hidden;
    
}

.header__infomation {
    margin-left: 20%;
}

.header__list {
    font-size: 1.5em;
    line-height: 150%;
    padding: 0.5em;
}

.header__item {
    font-weight: bold;
}

.header__button-linkedin {
    font-size: 1.2em;
    border-radius: 5%;
    background: #0b68c7;
    color:#f8ffff;
}

.header__button-github {
    font-size: 1.2em;
    border-radius: 5%;
    background: #24292f;
}

.header__link-email:hover {
    color:#feffff;
    text-decoration: none;
    cursor: pointer;
}

.header__link {
    color:#feffff;
    text-decoration: none;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.main__section { 
    width: 40%;
}

.main__title {
    font-size: 2em;
    color: rgb(172, 37, 13);
    margin: 0.5em auto;
    text-align: center;
    border-radius: 5%;
}

.main__skills {
    display: flex;
    text-align: center;
}

.main__list-title {
    text-align: center;
    font-size: 1.5em;
    border-radius: 5%;
}

.main__list-soft {
    font-size: 1.2em;
    margin-left: 3.5em;
}

.main__list-hard {
    font-size: 1.2em;
}

.main__education {
    display: flex;
    align-items: center;
    margin-left: 3em;
    margin-bottom: 1em;
}

.main__title-education {
    font-size: 2em;
    color: rgb(172, 37, 13);
    margin: 0.5em auto;
    text-align: center;
    border-radius: 5%;
}

.main__item-education {
    font-size: 1.2em;
    line-height: 150%;
}

.main__works {
    display: flex;
    align-items: center;
    margin-left: 3em;
}

.main__title-works {
    font-size: 2em;
    color: rgb(172, 37, 13);
    text-align: center;
    border-radius: 5%;
}

.main__item-works {
    margin-left: 2.6em;
    font-size: 1.2em;   
    line-height: 150%;
}
